body {
    background-image: url(/images/time_square.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: conver;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    opacity: 0.98;
    footer > div > div {
        color: #000000; //底部文字颜色
    }
}
